.sublimets
.tscache
*.js
*.js.map
!/*.js
!/tasks/*.js
dist
_build
/node_modules/*
!/node_modules/dojo-actions/
!/node_modules/dojo-actions/*
!/node_modules/dojo-core/
!/node_modules/dojo-core/*
bower_components
tests/typings/dist/
.baseDir.ts
html-report
*.lcov
