/coverage
/dist*
/docs
/examples
/resources
/tests
.editorconfig
.gitattributes
.gitignore
.npmignore
.travis.yml
.tscache
.vscode
codecov.yml
intern.json
run-benchmark.js
tsconfig.esm.json
tsconfig.json
tslint.json
