.sublimets
.tscache
.tsconfig*.json
*.js
*.js.map
!/*.js
!/tasks/*.js
dist
_build
typings
node_modules
!/node_modules/dojo-actions/
!/node_modules/dojo-actions/*
!/node_modules/dojo-compose/
!/node_modules/dojo-compose/*
!/node_modules/dojo-core/
!/node_modules/dojo-core/*
bower_components
.baseDir.ts
html-report
*.lcov
.idea/
.vscode/
