@import 'nib';
@import '../core/core';
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic");

dojo-red = #fc5b3a;

.basic {
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;

	button {
		margin: 0.25em;
		vertical-align: middle;
		border: none;
		border-radius: 0.2em;
		padding: 0.5em;
		line-height: 1.5em;
		cursor: pointer;
		transition: all 0.05s;
		color: #fff;
		background-color: dojo-red;
		font-size: 0.95em;
		min-width: 5em;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		outline: 0;

		&:focus {
			transition: all 0.01s;
			box-shadow: none;
		}

		&:active {
			transition: all 0.01s;
			box-shadow: none;
		}

		&:disabled {
			cursor: default;
			color: #9e9e9e;
			background-color: #f5f5f5;
			box-shadow: none;
		}
	}

	input[type=text] {
		margin: 0 0.25em;
		background: #fff;
		border-width: 0 0 1px;
		border-color: rgba(0, 0, 0, 0.12);
		line-height: 1.5em;
		font-size: 15px;
		transition: all 0.05s;
		outline: 0;

		&:disabled {
			color: #9e9e9e;
			background-color: #f5f5f5;
			border-color: #e3e3e3;
			transition: all 0.05s;
		}

		&:focus {
			border-width: 0 0 2px;
			border-color: dojo-red;
			transition: all 0.05s;
		}
	}

	dojo-list {
		margin: 0.25em 0;
		display: block;
		transition: all 0.05s;

		ul {
			border: 1px solid #9e9e9e;
			border-radius: 0.2em;
			padding: 0.5em;
		}

		li {
			list-style: none;
		}
	}

	dojo-panel-tabbed {
		flex-grow: 1;

		border-bottom: 1px solid #999;

		> ul > li {
			line-height: 40px;
			font-size: 12px;
			background-color: #ddd;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
			border-radius: 0.2em 0.2em 0 0;
			transition: background-color 0.05s;

			.tab-label {
				color: #999;
				transition: color 0.05s;

				&:hover {
					color: #000;
					transition: color 0.05s;
				}
			}

			.tab-close {
				color: #999;
				transition: color 0.05s;

				&:hover {
					color: #000;
					transition: color 0.05s;
				}
			}

			&.active {
				background-color: dojo-red;
				transition: background-color 0.05s;

				.tab-label {
					color: #fff;
					transition: color 0.05s;
				}

				.tab-close {
					color: #ccc;
					transition: color 0.05s;

					&:hover {
						color: #fff;
						transition: color 0.05s;
					}
				}
			}
		}
	}
}
