@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
@import 'nib';

// TODO: Figure out a way to automate these generated imports instead of explicitly pulling them in
@import '../structural/_generated/TabbedMixin.css';
@import '../structural/_generated/TabbedPanel.css';
@import '../structural/_generated/Button.css';
@import '../structural/_generated/ResizePanel.css';

$dojoGreen = #01D48E;
$dojoBlue = #51ADED;
$dojoRed = #ED5153;
$dojoBaseGray = #E2E2E2;
$dojoOffWhite = #FBFBFB;
$dojoLightGray = #F1F1F1;
$dojoGray = #9E9E9E;
$dojoBlack = #5A5A5A;

.basic {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	
	dojo-panel-tabbed {
		color: $dojoBlack;
		box-sizing: border-box;
		
		* {
			box-sizing: border-box;
		}
		
		> ul {
			> li {
				border-top: 1px solid $dojoLightGray;
				border-bottom: 1px solid $dojoBaseGray;
				border-left: 1px solid $dojoLightGray;
				background-color: $dojoOffWhite;
				font-size: 16px;
				font-weight: 700;
				padding-top: 3px;
				
				&:last-child {
					border-right: 1px solid $dojoLightGray;
				}
				
				> div:nth-child(1) {
					padding: 20px 10px;
				}
				
				&[data-active="true"] {
					border-top: 4px solid $dojoBlue;
					border-right: 1px solid $dojoBaseGray;
					border-bottom-color: transparent;
					border-left: 1px solid $dojoBaseGray;
					background-color: #FFF;
					padding-top: 0;
					
					& + li {
						border-left: 0;
					}
				}
				
				> div:nth-child(2) {
					padding: 20px 20px 20px 5px;
					
					&:after {
						content: '✖';
						display: block;
					}
				}
			}
		}
		
		> div:nth-child(2) {
			border-right: 1px solid $dojoBaseGray;
			border-bottom: 1px solid $dojoBaseGray;
			border-left: 1px solid $dojoBaseGray;
			padding: 20px 10px;
		}
	}

	button {
		background-color: $dojoBlue;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 14px;
		color: #FFF
		border: 0;
		outline: 0;
		font-family: 'Open Sans', sans-serif;
		padding: 15px 0;
		text-align: center;
		width: 150px;
		
		&:hover:not([disabled]) {
			background-color: darken($dojoBlue, 10%);
		}
		
		&:active {
			box-shadow: 0 0 15px 2px darken($dojoBlue, 35%) inset;
		}
		
		&[disabled] {
			opacity: 0.5;
			cursor: default;
		}
		
		&.success {
			background-color: $dojoGreen;

			&:hover:not([disabled]) {
				background-color: darken($dojoGreen, 10%);
			}

			&:active {
				box-shadow: 0 0 15px 2px darken($dojoGreen, 35%) inset;
			}
		}
		
		&.alert {
			background-color: $dojoRed;

			&:hover:not([disabled]) {
				background-color: darken($dojoRed, 10%);
			}

			&:active {
				box-shadow: 0 0 15px 2px darken($dojoRed, 35%) inset;
			}
		}
	}
	
	dojo-panel-resize {
		border: 1px solid $dojoBaseGray;
		padding: 10px;
		
		dojo-resize-handle {
			font-size: 20px;
			padding: 3px 3px 0 3px;
			color: $dojoBlack;
		}
	}
}
