@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
@import 'nib';

// TODO: Figure out a way to automate these generated imports instead of explicitly pulling them in
@import '../structural/_generated/Button.css';

$dojoGreen = #01D48E;
$dojoBlue = #51ADED;
$dojoRed = #ED5153;
$dojoBaseGray = #E2E2E2;
$dojoOffWhite = #FBFBFB;
$dojoLightGray = #F1F1F1;
$dojoGray = #9E9E9E;
$dojoBlack = #5A5A5A;

.basic {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;

	button {
		background-color: $dojoBlue;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 14px;
		color: #FFF
		border: 0;
		outline: 0;
		font-family: 'Open Sans', sans-serif;
		padding: 15px 0;
		text-align: center;
		width: 150px;

		&:hover:not([disabled]) {
			background-color: darken($dojoBlue, 10%);
		}

		&:active {
			box-shadow: 0 0 15px 2px darken($dojoBlue, 35%) inset;
		}

		&[disabled] {
			opacity: 0.5;
			cursor: default;
		}

		&.success {
			background-color: $dojoGreen;

			&:hover:not([disabled]) {
				background-color: darken($dojoGreen, 10%);
			}

			&:active {
				box-shadow: 0 0 15px 2px darken($dojoGreen, 35%) inset;
			}
		}

		&.alert {
			background-color: $dojoRed;

			&:hover:not([disabled]) {
				background-color: darken($dojoRed, 10%);
			}

			&:active {
				box-shadow: 0 0 15px 2px darken($dojoRed, 35%) inset;
			}
		}
	}
}
