/_build
/html-report
/support
/tests
/typings/**
!/typings/extras.d.ts
.editorconfig
.gitattributes
.gitignore
.github
.npmignore
.travis.yml
.tscache
.vscode
codecov.yml
Gruntfile.js
tsconfig.json
tslint.json
